body {
    background-color: lightblue;
}
h1 {
    font-family: verdana;
    text-align: center;
}
button {
    border: none;
    background-color: lightgreen;
    width: 100%;
    height: 40px;
    font-size: 16px;
    cursor: pointer;
    margin: auto;
    display: block;
    border-radius: 10px 10px 0px 0px;
    text-decoration: none;
}
.button-div {
    width: 33.33%;
    float: left;
}

.button-frame {
    width: 70%;
    height: auto;
    border: solid;
    border-width: 5px;
    border-radius: 15px;
    background-color: gray;
    margin: auto;
    display: block;
    border-color: gray;
}

.thumbnail {
    border: none;
    display: block;
    width: 100%;
    height: auto;
    margin: auto;
    border-radius: 0px 0px 10px 10px;
}