
a {
    color: black;
}

a:hover {
    text-decoration: none;
}

nav {
    background-color: #622569;
}


.secondary {
    color: #622569;
}

body {
    background-color: #d6d4e0;
    font-family: 'Josefin Sans', sans-serif;
    margin: auto;
}

.jumbotron {
    background-color: #b8a9c9;
}

.card {
    background-color: #5b9aa0;
}    
.row {
    margin: 20px 0px 20px 0px;
    
}

.feedback {
    padding: 50px;
    background-color: #b8a9c9;
}

